<section class="page-section bg-light" id="about">
    <div class="container">
        {{!-- <div class="text-left pb-2">
            <h2 class="section-heading text-uppercase">About Us</h2>
        </div> --}}
        <div class="row text-left justify-content-around">

            <div class="col-md-6">
                <h2 class="my-3">About Us</h2>
                <p class="text-muted">We are an assembly of born-again believers who desire to put the Lord Jesus 
                    in the first place in our lives and in our gatherings. In the book of Ephesians believers are 
                    described as “…members of the household of God, built on the foundation of the apostles and 
                    prophets, Christ Jesus Himself being the cornerstone, in whom, the whole structure, being 
                    joined together, grows into a holy temple in the Lord” (Eph. 2:19-21). Every member of the 
                    body is needed in this building process. Therefore, our aim is that each believer among us, 
                    whether young or old, will grow in knowing Christ, in being obedient to Him, and in functioning 
                    in His household. As part of the building work, we also actively seek to share the gospel with those 
                    don’t yet know Christ. Our prayer is that God will save many, and that together with God’s 
                    people everywhere we may bring glory to Him "who saved us and called us with a holy calling,
                     not according to our works, but according to His own purpose and grace" (II Timothy 1:9).</p>
            </div>

            <div class="col-md-4">
                <div id="google-map" style="border-radius: 20px; width: auto; overflow: hidden;">
                    {{> map}}
                </div>        
            </div>
            
        </div>
    </div>

</section>