<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">DC Christian Fellowship</div>
        <div class="masthead-heading text-uppercase">Serving Christ Together</div>
    </div>
</header>

