<section class="page-section" id="meetings">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meetings</h2>
            <h3 class="section-subheading text-muted">DC Christian Fellowship gathers both online and in person a number of times each week</h3>
        </div>
        <div class="row text-center">
            <div class="col-md">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Lord's Table</h4>
                <p class="text-muted">Join us each Sunday for the Lord's Table and Lunch Fellowship. Our past messages can be found <a target="_blank" href="https://drive.google.com/folderview?id=0B2yvQEWtaIcDdjlwX1FUN2tXRHM&usp=sharing">here</a>
                    <br><b>Sunday, 10:30 AM-2 PM, 8730 Oakmont St, Gaithersburg, MD 20877</b></p>
            </div>
            <div class="col-md">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Prayer Meeting</h4>
                <p class="text-muted">With meet online every Wednesday for Prayer
                    <br><b>Wednesday, 10:30 AM-2 PM</b></p>
            </div>
            <div class="col-md">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Bible Study</h4>
                <p class="text-muted">Every Friday, saints from Maryland and Virginia meet for Bible Study.
                    <br><b>Contact responsible brothers for the meeting location that works best for you</b></p>
            </div>
            
        </div>
    </div>
</section>